<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Materialize and AdonisJS</title>
    <style>
    html, body {
      background-color: #F7F8FA;
      font-family: 'Poppins', sans-serif;
      height: 100vh;
      color: #46444c;
      position: relative;
    }

    body:before {
      content: '';
      background: #5A45FF;
      top: 0;
      left: 0;
      right: 0;
      height: 6px;
      position: absolute;
    }

    * {
      margin: 0;
      padding: 0;
    }

    a {
      color: #5A45FF;
      text-decoration: none;
    }

    main {
      max-width: 620px;
      margin: auto;
      height: 100vh;
      padding: 0 30px;
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .title {
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 10px;
      color: #17161A;
    }

    .subtitle {
      font-size: 26px;
      margin-bottom: 40px;
    }

    p {
      margin-bottom: 20px;
    }

    main ul {
      list-style: none;
    }

    main li {
      margin-bottom: 5px;
      position: relative;
      padding-left: 25px;
    }

    main li:before {
      content: '—';
      position: absolute;
      left: 0;
    }

    main code {
      font-size: 16px;
      background: #e6e2ff;
    }
  </style>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>

  <main>
    <div>
      <h1 class="title"> Hi there! </h1>
      <p class="subtitle">
        The number of unique visitors is: <strong><span id="count"></span></strong>
      </p>
    </div>
  </main>
  <script>
    var eventSource = new EventSource("http://127.0.0.1:3333/visitors");

    const count = 0;
    eventSource.onmessage = function(e) {
        const data  = JSON.parse(e.data)
        //const count = omit(data, 'mz_timestamp', 'mz_diff', 'mz_progressed')
        const { mz_diff, mz_progressed } = data;
        data.forEach(entry => {
          if(entry.mz_diff == -1){
            console.log('Old count: ' + entry.count)
          } else {
            console.log('New count: ' + entry.count)
            let countDiv = document.getElementById("count");
            countDiv.innerHTML = entry.count;
          }
        })
    };
  </script>
</body>
</html>